<!-- Sidebar -->
	<div class="graphContainer">
        <!-- Page Content -->
        <h3>Ventas por Producto</h3>
        <canvas id="pieVentasProd" class="chart chart-pie"
		  chart-data="dataVProd" chart-labels="nombresProds">
		</canvas> 
		<br><br>
		<h3>Ventas por Sucursal</h3>
		<canvas id="barVentasSuc" class="chart chart-bar"
		  chart-data="dataVSuc" chart-labels="nombresSuc">
		</canvas>
		<br><br>
		<h3>Pedidos por fecha</h3>
		<canvas id="linePedFecha" class="chart chart-line" 
		chart-data="dataCantPedidos" chart-labels="fechasPedidos">
		</canvas>
		<br><br>
		<h3>Estadísticas de Encuestas</h3>
		<canvas id="baseEncuestas" class="chart-horizontal-bar"
		  chart-data="dataValorEnc" chart-labels="nombresEncCat" chart-series="encSeries" chart-options="encOptions">
		</canvas> 
	</div>
        <!-- /#page-content-wrapper -->