<!-- Sidebar -->

        <!-- Page Content -->
        <div id="id01" class="modal">
  
          <div class="modal-content animate" >

            <div class="container" >
              <label><b>Nombre de Usuario</b></label>
              <input class="loginText" type="text" placeholder="Ingrese nombre de usuario" ng-model="usuario.nombre" required>

              <label><b>E-mail</b></label>
              <input class="loginText" type="text" placeholder="Ingrese Dirección de E-mail" ng-model="usuario.email" required>

              <label><b>Password</b></label>
              <input class="loginPassword" type="password" placeholder="Ingrese Password" ng-model="usuario.clave" required>
                
              <button class="loginButton" ng-click="Guardar()">Login</button>

              <button class="fixedLoginButton" ng-click="IngresoAdmin()">Administrador</button>
              <button class="fixedLoginButton" ng-click="IngresoEncargado()">Encargado</button>
              <button class="fixedLoginButton" ng-click="IngresoEmpleado()">Empleado</button>
              <button class="fixedLoginButton" ng-click="IngresoCliente()">Cliente</button>
              
              <button type="button" onclick="window.location.href='#/inicio'" class="loginButton" style="background-color:#f44336;">Cancel</button>
              <!-- <input type="checkbox" checked="checked"> Remember me -->
            </div>

          </div>
        </div>
        <!-- /#page-content-wrapper -->