<!-- Sidebar -->

        <!-- Page Content -->
        <h3>ALTA DE OFERTAS</h3>
        <form class="formContainer" >

            
          <label><b>Producto Ofertado ({{ofer.idProd}})</b></label>
          <select class="formSelect" ng-model="ofer.idProd"  required>
              <option ng-repeat="prod in ListaProductos" value="{{prod.idProd}}">{{prod.idProd}}  {{prod.nombre}}</option>  
          </select>

          <label><b>Sucursal de Origen</b></label>
          <select class="formSelect" ng-model="ofer.idSuc"  required>
              <option ng-repeat="suc in ListaSucursales" value="{{suc.idSuc}}">{{suc.idSuc}}  {{suc.nombre}}</option>  
          </select>

          <label><b>Fecha de Fin de Oferta</b></label>
          <input class="loginText" ng-model="ofer.fechaFin" type="date"  name="oferFechaFin" required>

          <label><b>Porcentaje de Descuento %</b></label>
         <input class="loginText" ng-model="ofer.descuento" type="number" min='1' max="99" placeholder='0' name="oferDescuento" required>
            
          <button class="loginButton" ng-click="Guardar()">Registrar</button>
        

      </form>