<!-- Sidebar -->

        <!-- Page Content -->
        <h3>LISTA DE OFERTAS</h3>
        <table class="table table-hover">
				<tr>
					<th>ID</th>
				    <th>PRODUCTO</th>
				    <th>SUCURSAL</th>
				    <th>FECHA DE FIN</th>
				    <th>DESCUENTO</th>
			
				   
				</tr>
				<tr ng-repeat="ofer in ListaOfertas">
					<td>{{ofer.idOfer}}</td>
					<td><button class="btn btn-info">VER PRODUCTO</button></td>
					<td><button class="btn btn-info">VER SUCURSAL</button></td>
					<td>{{ofer.fechaFin}}</td>
					<td>{{ofer.descuento}}%</td>
				</tr>
		</table>
        <!-- /#page-content-wrapper -->