<!-- Sidebar -->

        <!-- Page Content -->
        <h3>LISTA DE OFERTAS</h3>
        <button class="btn btn-danger" ng-click="ExportarCSV($event,'reporte_ofertas.csv')">EXPORTAR EN CSV</button>
        <table class="table table-hover" id="exportthis" ng-table="tableParams" export-csv="ofertasCsv">
				<tr>
					<th>ID</th>
				    <th>PRODUCTO</th>
				    <th>SUCURSAL</th>
				    <th>FECHA DE FIN</th>
				    <th>DESCUENTO</th>
			
				   
				</tr>
				<tr ng-repeat="ofer in ListaOfertas">
					<td>{{ofer.idOfer}}</td>
					<td><button class="btn btn-info" ng-click="MostrarProducto(ofer.idProd)">VER PRODUCTO</button></td>
					<td><button class="btn btn-info" ng-click="MostrarSucursal(ofer.idSuc)">VER SUCURSAL</button></td>
					<td>{{ofer.fechaFin}}</td>
					<td>{{ofer.descuento}}%</td>
				</tr>
		</table>

		<div id="id01" style="display:none;" class="modal">
			  
		  <form class="modal-content animate" >

		    <!-- <div class="container"> -->
		      <modal-producto productoporparametro='ProductoParaMostrar'></modal-producto>

		      <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='none'">CERRAR MODAL</button> 
		    <!-- </div> -->

		  </form>
		</div>

		<div id="id02" style="display:none;" class="modal">
			  
		  <form class="modal-content animate" >

		    <!-- <div class="container"> -->
		      <modal-sucursal sucursalporparametro='SucursalParaMostrar'></modal-sucursal>

		      <button class="btn btn-danger" onclick="document.getElementById('id02').style.display='none'">CERRAR MODAL</button> 
		    <!-- </div> -->

		  </form>
		  
		</div>
        <!-- /#page-content-wrapper -->