<!-- Sidebar -->

        <!-- Page Content -->
        <h3>ALTA DE PEDIDOS</h3>
        <div>
          <form class="formContainer" >

            
          <label><b>Producto Pedido ({{ped.idProd}})</b></label>
          <select class="formSelect" ng-model="ped.idProd"  required>
              <option ng-repeat="prod in ListaProductos" value="{{prod.idProd}}">{{prod.idProd}}  {{prod.nombre}}</option>  
          </select>

          <label><b>Cantidad Pedida</b></label>
          <input class="loginText" ng-model="ped.cantPedida" type="number" placeholder="Ingrese cantidad" name="pedCantPedida" required>

          <label><b>Sucursal de Origen</b></label>
          <select class="formSelect" ng-model="ped.idSuc"  required>
              <option ng-repeat="suc in ListaSucursales" value="{{suc.idSuc}}">{{suc.idSuc}}  {{suc.nombre}}</option>  
          </select>

          <label><b>Fecha del Pedido</b></label>
          <input class="loginText" ng-model="ped.fechaPedido" type="date"  name="pedFechaFin" required>

          <!-- <label><b>Porcentaje de Descuento %</b></label>
         <input class="loginText" ng-model="ped.descuento" type="number" min='1' max="99" placeholder='0' name="prodPrecio" required> -->

         <label><b>ID del Cliente</b></label>
          <select class="formSelect" ng-model="ped.idCliente"  required>
              <option ng-repeat="cl in ListaUsuarios" ng-if="cl.cargo == 'Cliente'" value="{{cl.idUsu}}">{{cl.idUsu}}  {{cl.nombre}}</option>  
          </select>

          <label><b>Monto Total $</b></label>
         <input class="loginText" ng-model="ped.monto" type="number" placeholder='0' name="pedMonto" readonly required>

          <!-- <label><b>Password</b></label>
          <input class="loginPassword" type="password" placeholder="Ingrese Password" name="psw" required>

          <label><b>Repetir Password</b></label>
          <input class="loginPassword" type="password" placeholder="Repita Password" name="psw" required> -->
            
          <button class="loginButton" ng-click="Guardar()">Registrar</button>
      
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        

      </form>
        </div>
        
        <!-- /#page-content-wrapper -->