<!-- Sidebar -->

        <!-- Page Content -->
        <h3>ALTA DE PRODUCTOS</h3>
        <form class="formContainer" id="FormIngreso" name="FormIngreso">

            
          <label><b>Nombre de Producto</b></label>
          <input class="loginText" ng-model="prod.nombre" type="text" placeholder="Ingrese nombre de producto" name="prodNom" required>

          <label><b>Precio $</b></label>
          <input class="loginText" ng-model="prod.precio" type="number" placeholder="Ingrese precio" name="prodPrecio" required>

          <!-- <div nv-file-drop="" uploader="SubidorDeArchivos">
                    <div nv-file-over="" uploader="SubidorDeArchivos" over-class="another-file-over-class" class="well my-drop-zone">
                        Arrastrá acá para subir una foto (Seleccionar 3 fotos)
                    </div>
          </div> -->
          <label><b>Fotos del Producto</b></label>
          <input class="loginText" type="file" nv-file-select uploader="SubidorDeArchivos">

          <li ng-repeat="item in SubidorDeArchivos.queue" >
            Archivo: <span ng-bind="item.file.name"></span><br/>
            <div ng-show="SubidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>

            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </li>  

          <!-- <label><b>Password</b></label>
          <input class="loginPassword" type="password" placeholder="Ingrese Password" name="psw" required>

          <label><b>Repetir Password</b></label>
          <input class="loginPassword" type="password" placeholder="Repita Password" name="psw" required> -->
            
          <button class="loginButton" ng-disabled="(FormIngreso.$invalid)" ng-click="Guardar()">Registrar</button>
      
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        

      </form>
        <!-- /#page-content-wrapper -->