<!-- Sidebar -->

        <!-- Page Content -->
        <h3>LISTA DE PRODUCTOS</h3>
        <table class="table table-hover">
				<tr>
					<th>ID</th>
				    <th>NOMBRE</th>
				    <th>PRECIO</th>
				    <th>FOTOS</th>
				</tr>
				<tr ng-repeat="prod in ListaProductos">
					<td>{{prod.idProd}}</td>
					<td>{{prod.nombre}}</td>
					<td>${{prod.precio}}</td>
					<td><button class="btn btn-info" ng-click="MostrarProducto(prod)" >VER FOTOS</button></td>
				</tr>
		</table>

		<div id="id01" style="display:none;" class="modal">
			  
		  <form class="modal-content animate" >

		    <!-- <div class="container"> -->
		      <modal-producto productoporparametro='ProductoParaMostrar'></modal-producto>

		      <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='none'">CERRAR MODAL</button> 
		    <!-- </div> -->

		  </form>
		</div>
        <!-- /#page-content-wrapper -->