<!-- Sidebar -->

        <!-- Page Content -->
        <div id="id01" class="modal">
  
          <form class="modal-content animate" id="FormIngreso" name="FormIngreso">

            <div class="modalContainer">
              <label><b>Nombre de Usuario</b></label>
              <input class="loginText" type="text" ng-model="usuario.nombre" placeholder="Ingrese nombre de usuario" id="uname" name="uname" required>
              <span id="lblNombre" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uname.$error.required'>* El nombre es requerido</span></label>

              <label><b>E-mail</b></label>
              <input class="loginText" type="email" ng-model="usuario.email" placeholder="Ingrese Dirección de E-mail" id="uemail" name="uemail" required>
              <span id="lblEmail" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uemail.$error.required'>* El email es requerido</span>
              <span style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uemail.$error.email'>* El formato no es de un email</span>

              <label><b>Password</b></label>
              <input class="loginPassword" type="password" ng-model="usuario.clave" placeholder="Ingrese Password" id="upsw" name="upsw" required>
              <span id="lblClave1" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.upsw.$error.required'>* La clave es requerida</span>

              <label><b>Repetir Password</b></label>
              <input class="loginPassword" type="password" ng-model="usuario.copiaClave" placeholder="Repita Password" name="urpsw" id="urpsw" required>
              <span id="lblClave2" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.urpsw.$error.required'>* La clave es requerida</span><br>
              <br><span style="color:#FF0000;float:right;font-size:18;margin-left:200" ng-show='usuario.clave != usuario.copiaClave'>* Las claves no coinciden</span>
                
              <button class="loginButton" ng-disabled="FormIngreso.$invalid || usuario.clave != usuario.copiaClave" ng-click="Guardar()">Registrarse</button>
              
              <button type="button" onclick="window.location.href='#/inicio'" class="loginButton" style="background-color:#f44336;">Cancel</button>
              <!-- <input type="checkbox" checked="checked"> Remember me -->
            </div>

          </form>
        </div>
        <!-- /#page-content-wrapper -->