<!-- Sidebar -->

        <!-- Page Content -->
        <div id="id01" class="modal">
  
          <form class="modal-content animate" >

            <div class="container">
              <label><b>Nombre de Usuario</b></label>
              <input class="loginText" type="text" placeholder="Ingrese nombre de usuario" name="uname" required>

              <label><b>E-mail</b></label>
              <input class="loginText" type="text" placeholder="Ingrese Dirección de E-mail" name="uname" required>

              <label><b>Password</b></label>
              <input class="loginPassword" type="password" placeholder="Ingrese Password" name="psw" required>

              <label><b>Repetir Password</b></label>
              <input class="loginPassword" type="password" placeholder="Repita Password" name="psw" required>
                
              <button class="loginButton" type="submit">Registrar</button>
              
              <button type="button" onclick="window.location.href='#/inicio'" class="loginButton" style="background-color:#f44336;">Cancel</button>
              <!-- <input type="checkbox" checked="checked"> Remember me -->
            </div>

          </form>
        </div>
        <!-- /#page-content-wrapper -->