<!-- Sidebar -->

        <!-- Page Content -->
        <div>
        	<h4>LISTA DE SUCURSALES</h4>
			<table class="table table-hover">
				<tr>
					<th>ID</th>
				    <th>LOCALIDAD</th>
				    <th>DIRECCION</th>
				    <th>FICHA COMPLETA</th>
			
				   
				</tr>
				<tr> <!-- ng-repeat="sucursal in listado track by $index" -->
					<td> 1 </td>
					<td> Florencio Varela </td>
					<td> Curupayti 2082 </td>
					<td> <button class="btn btn-info">VER FICHA COMPLETA</button> </td>
				</tr>
				<tr> <!-- ng-repeat="sucursal in listado track by $index" -->
					<td> 1 </td>
					<td> Florencio Varela </td>
					<td> Curupayti 2082 </td>
					<td> <button class="btn btn-info">VER FICHA COMPLETA</button> </td>
				</tr>
			</table>
        </div>
        <!-- /#page-content-wrapper -->