<!-- Sidebar -->

        <!-- Page Content -->
        <h3>ALTA DE SUCURSALES</h3>
        <form class="formContainer" id="FormIngreso" name="FormIngreso">

            
          <label><b>Nombre de Sucursal</b></label>
          <input class="loginText" ng-model="suc.nombre" type="text" placeholder="Ingrese nombre de sucursal" name="sucNom" required>

          <label><b>Dirección</b></label>
          <input class="loginText" ng-model="suc.direccion" type="text" placeholder="Ingrese dirección del local" name="sucDir" required>

          <label><b>Localidad</b></label>
          <input class="loginText" ng-model="suc.localidad" type="text" placeholder="Ingrese la localidad" name="sucLoc" required>

          <label><b>Latitud</b></label>
          <input class="loginText" ng-model="suc.lat" type="text" placeholder="Ingrese latitud" name="sucLat" required>

          <label><b>Longitud</b></label>
          <input class="loginText" ng-model="suc.lng" type="text" placeholder="Ingrese longitud" name="sucLng" required>

          <label><b>Teléfono</b></label>
          <input class="loginText" ng-model="suc.telefono" type="text" placeholder="Ingrese número de teléfono" name="sucTel" required>

          <label><b>Fotos de la Sucursal:</b></label>
          <input class="loginText" type="file" nv-file-select uploader="SubidorDeArchivos">

          <li ng-repeat="item in SubidorDeArchivos.queue" >
            Archivo: <span ng-bind="item.file.name"></span><br/>
            <div ng-show="SubidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>

            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </li>  

          <!-- <label><b>Password</b></label>
          <input class="loginPassword" type="password" placeholder="Ingrese Password" name="psw" required>

          <label><b>Repetir Password</b></label>
          <input class="loginPassword" type="password" placeholder="Repita Password" name="psw" required> -->
            
          <button class="loginButton" ng-disabled="(FormIngreso.$invalid)" ng-click="Guardar()">Registrar</button>
      
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        

      </form>
        <!-- /#page-content-wrapper -->