<!-- Sidebar -->

        <!-- Page Content -->
        <div>
        	<h4>LISTA DE SUCURSALES</h4>
			<table class="table table-hover">
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
				    <th>LOCALIDAD</th>
				    <th>ENCARGADO</th>
				    <th>FICHA COMPLETA</th>
				    <th ng-show="userActual.cargo == 'Encargado'">MODIFICAR</th>
				</tr>

				<tr ng-repeat="suc in ListaSucursales">
					<td>{{suc.idSuc}}</td>
					<td>{{suc.nombre}}</td>
					<td>{{suc.localidad}}</td>
					<td>
						<button class="btn btn-disabled" ng-show="suc.encargado == 0">SIN ENCARGADO</button>
						<button class="btn btn-info" ng-show="suc.encargado == 1" ng-click="MostrarEncargado(suc.idSuc)">VER ENCARGADO</button>
					</td>
					<td> <button class="btn btn-info" ng-click="MostrarSucursal(suc)" >VER FICHA COMPLETA</button> </td>
					<td ng-show="userActual.cargo == 'Encargado'">
						 <button class="btn btn-success" ng-click="ModificarSucursal(suc)" >MODIFICAR</button>
					</td>
				</tr>
			</table>
	        <!-- Modal -->

			<div id="id01" style="display:none;" class="modal">
			  
			  <form class="modal-content animate" >

			    <!-- <div class="container"> -->
			      <modal-sucursal sucursalporparametro='SucursalParaMostrar'></modal-sucursal>

			      <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='none'">CERRAR MODAL</button> 
			    <!-- </div> -->

			  </form>
			</div>

			<div id="id02" style="display:none;" class="modal">
			  
			  <form class="modal-content animate" >

			    <!-- <div class="container"> -->
			      <modal-usuario usuarioporparametro='EncargadoParaMostrar'></modal-usuario>

			      <button class="btn btn-danger" onclick="document.getElementById('id02').style.display='none'">CERRAR MODAL</button> 
			    <!-- </div> -->

			  </form>
			</div>

			<div id="id03" style="display:none;" class="modal">
			  
			  <form class="modal-content animate" >

			    <!-- <div class="container"> -->
			      <modal-modif-sucursal sucursalporparametro='SucursalParaModificar' modifparent='RealizarModificacion()'></modal-modif-sucursal>

			      <button class="btn btn-danger" onclick="document.getElementById('id03').style.display='none'">CERRAR MODAL</button> 
			    <!-- </div> -->

			  </form>
			</div>
        </div>
        <!-- /#page-content-wrapper -->
