

        <!-- Page Content -->
        <h3>ALTA DE USUARIOS</h3>


        <form class="formContainer" id="FormIngreso" name="FormIngreso">

            
              <label><b>Nombre de Usuario</b></label>
              <input class="loginText" type="text" ng-model="usuario.nombre" placeholder="Ingrese nombre de usuario" id="uname" name="uname" required>
              <span id="lblNombre" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uname.$error.required'>* El nombre es requerido</span></label>

              <label><b>E-mail</b></label>
              <input class="loginText" type="email" ng-model="usuario.email" placeholder="Ingrese Dirección de E-mail" id="uemail" name="uemail" required>
              <span id="lblEmail" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uemail.$error.required'>* El email es requerido</span>
              <span style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.uemail.$error.email'>* El formato no es de un email</span>

              <label><b>Password</b></label>
              <input class="loginPassword" type="password" ng-model="usuario.clave" placeholder="Ingrese Password" id="upsw" name="upsw" required>
              <span id="lblClave1" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.upsw.$error.required'>* La clave es requerida</span>

              <label><b>Repetir Password</b></label>
              <input class="loginPassword" type="password" ng-model="usuario.copiaClave" placeholder="Repita Password" name="urpsw" id="urpsw" required>
              <span id="lblClave2" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.urpsw.$error.required'>* La clave es requerida</span><br>
              <br><span style="color:#FF0000;float:right;font-size:18;margin-left:200" ng-show='usuario.clave != usuario.copiaClave'>* Las claves no coinciden</span>

              <label><b>Cargo</b></label>
              <select class="formSelect" ng-model="usuario.cargo" required>
              	<option value="" disabled selected>Seleccione el Cargo</option>
      			    <option ng-show="userActual.cargo == 'Administrador'" value="Encargado">Encargado</option>
      			    <option ng-show="(userActual.cargo == 'Administrador' || userActual.cargo == 'Encargado')" value="Empleado">Empleado</option>
      			    <option value="Cliente">Cliente</option>
      			  </select>

              <label><b>Sucursal de Trabajo:</b></label>
              <select class="formSelect" ng-model="usuario.idSuc"  required>
                  <option ng-show="usuario.cargo == 'Cliente'" value="0">0  Todas</option>
                  <option ng-repeat="suc in ListaSucursales" ng-show="(usuario.cargo == 'Empleado' || (usuario.cargo == 'Encargado' && suc.encargado == 0))" value="{{suc.idSuc}}">{{suc.idSuc}}  {{suc.nombre}}</option>  
              </select>
                
              <button class="loginButton" ng-disabled="FormIngreso.$invalid || usuario.clave != usuario.copiaClave" ng-click="Guardar()">Dar de Alta</button>
          
              <!-- <input type="checkbox" checked="checked"> Remember me -->
            

          </form>
        <!-- /#page-content-wrapper -->