<div style="width:100%;" align=center>

	<form class="formContainer" >
            
          <label><b>Nombre de Sucursal</b></label>
          <input class="loginText" ng-model="miSucursal.nombre" type="text" placeholder="Ingrese nombre de sucursal" name="sucNom" required>

          <label><b>Dirección</b></label>
          <input class="loginText" ng-model="miSucursal.direccion" type="text" placeholder="Ingrese dirección del local" name="sucDir" required>

          <label><b>Localidad</b></label>
          <input class="loginText" ng-model="miSucursal.localidad" type="text" placeholder="Ingrese la localidad" name="sucLoc" required>

          <label><b>Latitud</b></label>
          <input class="loginText" ng-model="miSucursal.lat" type="text" placeholder="Ingrese latitud" name="sucLat" required>

          <label><b>Longitud</b></label>
          <input class="loginText" ng-model="miSucursal.lng" type="text" placeholder="Ingrese longitud" name="sucLng" required>

          <label><b>Teléfono</b></label>
          <input class="loginText" ng-model="miSucursal.telefono" type="text" placeholder="Ingrese número de teléfono" name="sucTel" required>

          <button class="btn btn-info" ng-show="willModifyPhotos == 1" ng-click="TogglePhotoUpload()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          <button class="btn btn-disabled" ng-show="willModifyPhotos == 0" ng-click="TogglePhotoUpload()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> 
          <label><b> Modificar fotos de la sucursal</b></label><br><br>

          <label ng-show="willModifyPhotos == 1"><b>Fotos de la Sucursal:</b></label>
          <input ng-show = "willModifyPhotos == 1" class="loginText" type="file" nv-file-select uploader="SubidorDeArchivos">

          <li ng-show="willModifyPhotos == 1" ng-repeat="item in SubidorDeArchivos.queue" >
            Archivo: <span ng-bind="item.file.name"></span><br/>
            <div ng-show="SubidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>

            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </li>  
            
          <button class="loginButton" ng-click="Guardar()">Registrar</button>

      </form>

</div>