<div style="width:100%;" align=center>

	<h2><b>ENCUESTA DE SATISFACCIÓN</b></h2>
	<h3>Calidad del Producto: </h3>
	<span uib-rating ng-model="miEncuesta.valorProducto" max="5" read-only="true" aria-labelledby="default-rating"></span><br><br>
	<h3>Calidad de Atención:</h3>
	<span uib-rating ng-model="miEncuesta.valorAtencion" max="5" read-only="true" aria-labelledby="default-rating"></span><br><br>
	<h3>Tiempo de Delivery:</h3>
	<span uib-rating ng-model="miEncuesta.valorDemora" max="5" read-only="true" aria-labelledby="default-rating"></span><br><br>

	<h3 ng-show="miEncuesta.comentario != 'sin comentario'">Comentario o Sugerencia: (máx. 300 caracteres)</h3>
	<p ng-show="miEncuesta.comentario != 'sin comentario'">{{miEncuesta.comentario}}</p>

  <h3 ng-show="miEncuesta.foto1 != 'sin foto'">FOTOS: </h3><br>
  <ng-fader ng-show="miEncuesta.foto1 != 'sin foto'" miobjetoconfotos='miEncuesta'></ng-fader>

</div>