<div style="width:100%;" align=center>

	<form class="formContainer" id="FormModificacion" name="FormModificacion">
            
          <label><b>Producto Pedido</b></label>
          <select class="formSelect" ng-model="miPedido.idProd" name="pedProd" required>
              <option ng-repeat="prod in ListaProductos" value="{{prod.idProd}}">{{prod.idProd}}  {{prod.nombre}}</option>  
          </select>
          <span id="lblProducto" style="color:#FF0000;float:right;font-size:18" ng-show='miPedido.idProd == -1'>* Producto no elegido</span>

          <label><b>Cantidad Pedida</b></label>
          <input class="loginText" ng-model="miPedido.cantPedida" type="number" placeholder="Ingrese cantidad" name="pedCantPedida" required>
          <span id="lblCantidad" style="color:#FF0000;float:right;font-size:18" ng-show='FormModificacion.pedCantPedida.$error.required'>* La cantidad es requerida</span>

          <label><b>Sucursal de Origen</b></label>
          <select class="formSelect" ng-model="miPedido.idSuc" name="pedSuc" required>
              <option ng-repeat="suc in ListaSucursales" value="{{suc.idSuc}}">{{suc.idSuc}}  {{suc.nombre}}</option>  
          </select>
          <span id="lblSucursal" style="color:#FF0000;float:right;font-size:18" ng-show='miPedido.idSuc == -1'>* Sucursal no elegida</span>

          <label><b>Fecha del Pedido</b></label>
          <input class="loginText" ng-model="miPedido.fechaPedido" type="date" min="{{minDate}}" max="{{maxDate}}"  name="pedFechaFin" required>
          <span style="color:#FF0000;float:right;font-size:18;margin-left:200" ng-show='FormModificacion.pedFechaFin.$error.required'>* Ingrese una fecha</span>

         <label><b>ID del Cliente</b></label>
          <select class="formSelect" id="pedIdCliente" ng-model="miPedido.idCliente"  required>
              <option ng-repeat="cl in ListaUsuarios" value="{{cl.idUsu}}">{{cl.idUsu}}  {{cl.nombre}}</option>  
          </select>
          <span id="lblCliente" style="color:#FF0000;float:right;font-size:18" ng-show='miPedido.idCliente == -1'>* ID de Cliente no elegido</span>

          <label><b>Monto Total $</b> <b ng-show="oferta != -1">({{oferta}}% de descuento)</b></label>
         <input class="loginText" ng-model="miPedido.monto" type="number" placeholder='0' name="pedMonto" readonly required>
            
          <button class="loginButton" ng-disabled="FormModificacion.$invalid" ng-click="Guardar()">Registrar</button>

      </form>

  <button class="btn btn-danger" ng-click="CerrarModal()">CERRAR MODAL</button> 

</div>