<div style="width:100%;" align=center>

	<h4>OFERTAS</h4>
  <table class="table table-hover" >
    <tr>
      <th>ID</th>
        <th>PRODUCTO</th>
        <th>SUCURSAL</th>
        <th>FECHA DE FIN</th>
        <th>DESCUENTO</th>
    </tr>
    <tr ng-repeat="ofer in ListaOfertas" ng-show ="ofer.idSuc == miSucursal.idSuc">
      <td>{{ofer.idOfer}}</td>
      <td>{{ofer.idProd}}</td>
      <td>{{ofer.idSuc}}</td>
      <td>{{ofer.fechaFin}}</td>
      <td>{{ofer.descuento}}%</td>
    </tr>
  </table>
</div>